/* TODO: 자유롭게 바탕화면 시스템의 CSS를 만들어 보세요! */
* {
    margin: 0;
    padding: 0;
}

section {
    background-image: url('img/mapleback.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.tab{
    width: 100%;
    height: 35px;
    background-color: #ebb43d49;
    display: flex;
}

.container {
    width: 100%;
    height: 872px;
    left: 0px;
    top: 0px;
    overflow: hidden;
    position: relative;
}

.foldIcon {
    position: relative;
    cursor: grab;
}

.foldIcon:active {
    cursor: grabbing;
}

.btn {
    display: flex;
    justify-content: center;
}

img {
    width: 100px;
    height: 100px;
}

button{
    background-color: #ebb43d83;
    border: 1px solid rgba(255, 255, 255, 0.668);
    padding: 5px;
}

/** 모달창 */

.modal {
    position: absolute;
    width: 320px;
    height: 300px;
    display: none;
    background: rgba(202, 218, 232, 0.7);
    border-radius: 10px;
    margin-left: 700px;
    z-index: 1;
}

.modalheader {
    position: relative;
    width: 300px;
    height: 20px;
    padding: 10px;
    background-color: #ebb43d;
    color: #fff;
    display: flex;
    justify-content: space-between;
}

.modalclose {
    cursor: pointer;
    color: white;
    height: 0px;
    width: 0px;
    margin-right: 10px;
}

/* 탭 */

.tabs {
    border: 1px solid rgba(0, 0, 0, 0.146);
    width: 100px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
}

.tabPlus {
    border: 1px solid rgba(0, 0, 0, 0.178);
    width: 30px;
    height: 35px;
}
.tabClose{
    font-size: 20px;
    color: rgba(255, 255, 255, 0.565);
}